<!DOCTYPE html>
<html>
<head>
  <title>Terms of Service</title>
  <% include partials/_head.ejs %>
</head>
<body>
  <header>
    <% include partials/_header.ejs %>
  </header>
  <main>
    <h1>Terms of Service</h1>
    <p>This is the Terms of Service page.</p>
  </main>
  <footer>
    <% include partials/_footer.ejs %>
  </footer>
</body>
</html>
